<%- include('partials/header') %>

<title>Events</title>
<body>
    <div style="background-color: #f5622c;color: white;" class="jumbotron">
        <h2>Events</h2>
    </div>
    <% event.forEach(function(event){ %> 
    <div class="card" style="width: 18rem;">
      
        <div class="card-body">
          <h5 class="card-title">Event Name : <%=event.name%></h5>
          <h6 class="card-subtitle mb-2 text-muted">Event description : <%=event.description%></h6>
          <p class="card-text">Event Location : <%=event.location%></p>          
        </div>
        
      </div>
      <%});%>
</body>
<%- include('partials/footer') %>