<%- include('partials/header') %>

<title>Events</title>
<body>
    <div style="background-color: #f5622c;color: white;" class="jumbotron">
        <h2>Events</h2>
    </div>
<center>
    <% event.forEach(function(event){ %> 
    <div class="card" style="width: 18rem;">
      
        <div class="card-body">
          <h5 class="card-title">Event Name : <%=event.name%></h5>
          <h6 class="card-subtitle mb-2 text-muted">Event description : <%=event.description%></h6>
          <p class="card-text">Event Location : <%=event.location%></p>          
<!-- =======
    <div class="container">
    <div class="row">
    <div class="card" style="width: 18rem;margin-right: 20px">
        <div class="card-body">
          <h5 class="card-title">Blood Donation Drive</h5>
          <h6 class="card-subtitle mb-2 text-muted">27th Jan 2020</h6>
          <p class="card-text">“To give blood you need neither extra strength nor extra food, and you will save a life.” “If you're a blood donor, you're a hero to someone, somewhere, who received your gracious gift of life.”
            DJ Sanghvi College</p> 
        </div>
      </div>
      <div class="card" style="width: 18rem;margin-right: 20px"">
        <div class="card-body">
          <h5 class="card-title">Food Donations</h5>
          <h6 class="card-subtitle mb-2 text-muted">2nd Feb</h6>
          <p class="card-text">
            “No one has ever become poor by giving.”Juhu Beach</p>
          
        </div>
      </div>
      <div class="card" style="width: 18rem;margin-right: 20px"">
        <div class="card-body">
          <h5 class="card-title">Blanket Distribution</h5>
          <h6 class="card-subtitle mb-2 text-muted">9th Feb</h6>
          <p class="card-text">"Its Better to donate than to accumulate"DJ Sanghvi College</p>
          
>>>>>>> 400ed204ad2997d679609dc1604a0ff2933d6972 -->
        </div>
        
      </div>

      <%});%>
    </center>
</body>
<%- include('partials/footer') %>