<%- include('partials/header') %>
<body>
    <div class="row">
        <div class="col-sm-6">
          <% need.forEach(function(need){ %>         
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Patient Name : <%=need.name%></h5>
              <p class="card-text">Age: <%=need.age%></p>
              <p class="card-text"><%=need.description%></p>
              <image src="<%=need.img%>"></image>
            </div>
          </div>
          <%});%>
        </div>
      </div>
</body>
<%- include('partials/footer') %>